label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #2c772f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    width: 200px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #4CAF50;
    font-family: Arial, sans-serif;
}

input[type="radio"] {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    display: inline;
}

input[type="checkbox"] {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    display: inline;
}

h1,
p {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

body {
    background-color: #f2f2f2;
}

